@import url(contentImages/main-img.css);
@import url(contentImages/register-img.css);
@import url(contentImages/login-img.css);
@import url(contentImages/userInfo-img.css);
@import url(contentImages/games-img.css);
@import url(contentImages/statistic-img.css);
@import url(contentImages/champions-img.css);
@import url(contentImages/admin-img.css);

.content {
    flex: 1 0 auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0b0b0b;

    -webkit-text-shadow:
            5px 5px 6px #21222B,
            0px 1px 5px #C6C5C5;
    -moz-text-shadow:
            5px 5px 6px #21222B,
            0px 1px 5px #C6C5C5;
    -ms-text-shadow:
            5px 5px 6px #21222B,
            0px 1px 5px #C6C5C5;
    -o-text-shadow:
            5px 5px 6px #21222B,
            0px 1px 5px #C6C5C5;
    text-shadow:
            5px 5px 6px #21222B,
            0px 1px 5px #C6C5C5;
}

.content>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:
            0px 7px 20px white,
            inset -10px -20px 30px white;
}

.content .info {
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 35%;
    color: #eef0f1;
    text-transform: uppercase;
}

.content .info h2 {
    position: absolute;
    top: -60px;
    width: 150%;
}


.content .info a {
    color: darkgrey;
    text-transform: none;
    font-size: 18px;
    -webkit-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -moz-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -ms-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -o-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.content .info a::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-bottom: 3px;
    margin-left: 3px;
    border: 1px solid chartreuse;
    border-top: none;
    border-right: none;
    opacity: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.content .info a:hover {
    color: chartreuse;
    font-size: 20px;
    -webkit-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -moz-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -ms-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -o-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.content .info a:hover::after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 1;
}