@import url(reset.css);
@import url(header-menu.css);
@import url(header-theme-toggle.css);
@import url(header-search.css);
@import url(content.css);
@import url(games.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

@font-face {
  font-family: PTSans;
  src: url(../fonts/PTSans.eot);
  /*src:*/
    /*local('=#ed'),*/
    /*url(../../fonts/PTSans.woff) format('woff'),*/
    /*url(../../fonts/PTSans.ttf) format('truetype'),*/
    /*url(../fonts/PTSans.svg) format('svg');*/
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: PTSans, Arial, sans-serif;
  font-weight: normal;
}

a, li, input {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.wrapper {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

header, footer {
  margin: 0 auto;
  padding: 20px 30px;
}


@media screen and (max-width: 1100px) {
  .search {
    border: 0px;
  }

  .search input[type="text"] {
    display: none;
  }

  .search:hover {
    border: 1px solid rgba(255, 255, 255, .4);
  }

  .search:hover input[type="text"], .search input[type="text"]:focus {
    display: block;
    max-width: 100px;
  }

  .search:hover input[type="image"] {
    display: none;
  }
}