
@media screen and (max-width: 1100px) {
    .search {
        border: 0px;
    }

    .search input[type="text"] {
        display: none;
    }

    .search:hover {
        border: 1px solid rgba(255, 255, 255, .4);
    }

    .search:hover input[type="text"], .search input[type="text"]:focus {
        display: block;
        max-width: 100px;
    }

    .search:hover input[type="image"] {
        display: none;
    }
}