
.wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.wrapper .info a {
    font-size: 24px;
    text-transform: none;
    color: #dae3e3;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.wrapper .info a::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-bottom: 3px;
    margin-left: 3px;
    border: 1px solid #4be327;
    border-top: none;
    border-right: none;
    opacity: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.wrapper .info a:hover {
    color: #4be327;
    -webkit-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -moz-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -ms-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    -o-text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;
    text-shadow:
            1px 1px 0px #21222B,
            0px 1px 2px #C6C5C5;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.wrapper .info a:hover::after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 1;
}

header, footer {
    margin: 0 auto;
    padding: 20px 30px;
}

