
.admin-img {
    background-image: url("../../../static/images/admin.jpg");
}

.accessDenied-img {
    background-image: url("../../../static/images/accessDenied.jpg");
}

.content .accessDenied-img .info {
    width: 100vh;
    top: 80%;
    left: 0;
    color: #e33030;
    text-transform: none;
    text-align: center;
}