
.champions-img-1 {
    background-image: url("../../../static/images/champions1.jpg");
    background-position: bottom;
}

.champions-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../../../static/images/champions2.jpg");
    opacity: 0.005;
    -webkit-transition: opacity 3s .3s;
    -moz-transition: opacity 3s .3s;
    -ms-transition: opacity 3s .3s;
    -o-transition: opacity 3s .3s;
    transition: opacity 3s .3s;
}

.content:hover .champions-img-2 {
    opacity: 0.9;
}

.content .champions-img-2 .info {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 120px;
    overflow-y: scroll;
}

.champions-img-2 .info h3 {
    /*font-size: 24px;*/
    text-align: right;
    background: transparent;
}

.champions-img-2 .dictum h3 {
    /*font-size: 18px;*/
    text-align: left;
    padding-bottom: 30px;
    text-transform: none;
}
