
.main-img-1 {
    background-image: url("../../../static/images/main1.jpg");

}

.main-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../../../static/images/main2.jpg");

    opacity: 0;
    -webkit-transition: opacity 1s .3s;
    -moz-transition: opacity 1s .3s;
    -ms-transition: opacity 1s .3s;
    -o-transition: opacity 1s .3s;
    transition: opacity 1s .3s;
}

.content:hover .main-img-2 {
    opacity: 1;
}

.content .main-img-1 .info, .content .main-img-2 .info {
    line-height: 50px;
}


.content .main-img-2 .info a {
    font-size: 38px;
}


.content .main-img-2 .info a:hover {
    font-size: 42px;
}

.content .main-img-2 .info a:after {
    border: none;
}

.content .main-img-1 .info h2 {
    font-size: 54px;
    opacity: 1;
    -webkit-transition: opacity 1s .3s;
    -moz-transition: opacity 1s .3s;
    -ms-transition: opacity 1s .3s;
    -o-transition: opacity 1s .3s;
    transition: opacity 1s .3s;
}

.content .main-img-2 .info h2 {
    font-size: 54px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.content:hover .main-img-1 .info h2 {
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.content:hover .main-img-2 .info h2 {
    opacity: 1;
    -webkit-transition: opacity 1s .3s;
    -moz-transition: opacity 1s .3s;
    -ms-transition: opacity 1s .3s;
    -o-transition: opacity 1s .3s;
    transition: opacity 1s .3s;
}