
.content .register-img {
    background-color: #111111;
}

.content .register-img .info {
    width: 90vw;
    height: 85vh;
    top: calc(50vh - 42vh);
    left: calc(50vw - 45vw);
    font-size: 18px;
    padding: 15px 32px;
    border-radius: 35px;
    background-color: #1a1e20;
    -webkit-box-shadow:
            10px 10px 15px #302C2C,
            inset -2px -2px 10px #21222B;
    -moz-box-shadow:
            10px 10px 15px #302C2C,
            inset -2px -2px 10px #21222B;
    -ms-box-shadow:
            10px 10px 15px #302C2C,
            inset -2px -2px 10px #21222B;
    -o-box-shadow:
            10px 10px 15px #302C2C,
            inset -2px -2px 10px #21222B;
    box-shadow:
            10px 10px 15px #302C2C,
            inset -2px -2px 10px #21222B;
}

.content .register-img .info h4 {
    text-transform: none;
    text-align: center;

    color: #dbe291;
    font-size: 36px;
    font-family: monospace;
    margin-bottom: 45px;
    -webkit-text-shadow:
            0px 0px 4px #ecedb3,
            6px 6px 7px #212121;
    -moz-text-shadow:
            0px 0px 4px #ecedb3,
            6px 6px 7px #212121;
    -ms-text-shadow:
            0px 0px 4px #ecedb3,
            6px 6px 7px #212121;
    -o-text-shadow:
            0px 0px 4px #ecedb3,
            6px 6px 7px #212121;
    text-shadow:
            0px 0px 4px #ecedb3,
            6px 6px 7px #212121;

    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.content .register-img .info form {
    height: 90%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: right;
    line-height: 25px;
    text-transform: none;
    /*opacity: 0;*/

    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

/*.content .register-img:hover h4 {*/
    /*color: #dbe291;*/
    /*font-size: 36px;*/

    /*-webkit-transition: all .8s ease-in-out;*/
    /*-moz-transition: all .8s ease-in-out;*/
    /*-ms-transition: all .8s ease-in-out;*/
    /*-o-transition: all .8s ease-in-out;*/
    /*transition: all .8s ease-in-out;*/
/*}*/

/*.content .register-img:hover form {*/
    /*opacity: 1;*/

    /*-webkit-transition: all .8s ease-in-out;*/
    /*-moz-transition: all .8s ease-in-out;*/
    /*-ms-transition: all .8s ease-in-out;*/
    /*-o-transition: all .8s ease-in-out;*/
    /*transition: all .8s ease-in-out;*/
/*}*/

.content .register-img .info form>div:not(:last-child) {
    flex: 1 0 auto;
}

.content .register-img .info form label {
    font-size: 32px;
    vertical-align: middle;
    color: antiquewhite;
}

.content .register-img .info form input {
    width: 450px;
    background: transparent;
    margin-left: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
    /*border-bottom: 1px solid #d2d2d2;*/
    outline: none;
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

.content .register-img .info .form-group input,
.content .register-img .info .form-group input:focus,
.content .register-img .info .form-group input:active {
    color: #eef0f1;
    font-family: PT Sans, sans-serif;
    font-size: 32px;

    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.content .register-img .info .register-submit {
    flex: 0 0 auto;
}

.content .register-img .info .register-submit input {
    display: block;
    width: 100%;
    height: 80%;
    line-height: 60px;
    margin: 0;
    position: relative;
    vertical-align: middle;
    border: 0 solid;
    color: antiquewhite;
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;

}

.content .register-img .info .register-submit input:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2), 3px 3px 3px black;;
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
}


.content .register-img .info .register-submit input:active {
    box-shadow: inset 1px 1px 2px black, 0 0 40px rgba(255, 255, 255, 0.2);
    outline-offset: -15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 5px 5px 3px black;
    transition: all .2s ease-in-out;
}

.content  .register-img .info a {
    display: block;
    text-align: end;
    color: #7e7e7e;
    font-size: 16px;
    -webkit-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -moz-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -ms-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -o-text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    text-shadow:
            3px 3px 5px #21222B,
            0px 1px 5px #C6C5C5;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -ms-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}

.content .register-img .info a:hover {
    color: #69ad00;
    font-size: 17px;
}

.content .register-img .info a:after {
    color: #6aac00;
    vertical-align: -2px;
}

.content .register-img .info span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #9c0000;
    text-transform: none;
    font-size: 36px;

    -webkit-text-shadow:
            1px 1px 11px red;
    -moz-text-shadow:
            1px 1px 11px red;
    -ms-text-shadow:
            1px 1px 11px red;
    -o-text-shadow:
            1px 1px 11px red;
    text-shadow:
            1px 1px 11px red;
}


.registrationSuccess-img {
    background-image: url("../../../static/images/registrationSuccess.jpg");
}

.content .registrationSuccess-img .info {
    top: 80%;
    left: 10%;
    padding-right: 70px;
    font-size: 26px;
    text-transform: none;
}
