

.content .statistic-img {
    background-image: url("../../images/statictic2.jpg");
    background-position: top;
}

.content .statistic-img .info {
    width: auto;
    height: auto;
    top: 35%;
    left: 55%;
    color: black;
    font-size: 24px;
    text-align: right;
    padding: 0;
    padding-right: 30px;
    border-radius: 0;
    background: none;
    box-shadow: none;
    line-height: 42px;
    opacity: 0.7;
}


.content .statistic-img .info h3 {
    font-size: 24px;
    padding-top: 10px;
    display: block;
}


.content .statistic-img .info h4 {
    display: none;
}

.content .statistic-img .info form {
    margin-right: 30px;
    text-align: right;
    line-height: 30px;
    text-transform: none;
}

.content .statistic-img .info span {
    color: red;
    text-transform: none;
    font-size: 20px;
}

